.list-container {
  width: 100%;
}
.list-container h1 {
  text-align: center;
}
.list-item-text {
  text-decoration: none;
}

.list-item-text.completed {
  text-decoration: line-through;
}
.bottom-block {
  margin-top: 50px;
  width: 100%;
}
@media (max-width: 768px) {
  .bottom-block {
    width: auto;
  }
}
