.list-container {
  width: 100%;
  max-width: 360px;
  background-color: #f5f5f5;
}

.list-item-text {
  text-decoration: none;
}

.list-item-text.completed {
  text-decoration: line-through;
}
.bottom-block {
  margin-top: 50px;
  width: 80%;
}
