@media (max-width: 768px) {
  .bottom-block {
    width: auto;
  }
  .btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
  }
}
.section-list {
  width: 100%;
}

.list-container {
  width: 100%;
}
.list-container h1 {
  text-align: center;
}
.list-item-text {
  text-decoration: none;
  cursor: grab;
}

.list-item-text.completed {
  text-decoration: line-through;
}
.bottom-block {
  margin-top: 50px;
  width: 100%;
}
.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
